.card {
  display: grid;
  grid-template-columns: 40% 60%;
  border: 2px solid brown;
  max-width: 1400px;
  min-height: 350px;
  margin-top: 2rem;
}

.card-image-box {
  background-image: url("https://picsum.photos/800/600");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

@media (max-width: 900px) {
  .card {
    grid-template-columns: 100%;
  }
  .card-image-box {
    height: 25vh;
  }
}
