.post-container {
  width: 100%;
  max-width: 1200px;
}

.post-container hr {
  margin: 1rem 0;
  border-top: 1.5px solid var(--maincolor);
}

.post-container > header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.post-container > header h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--secondcolor);
}

.post-image-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 40vh;
  margin-bottom: 0;
  border-radius: 10px;
}

#pic-caption {
  margin-bottom: 1.2rem;
  text-align: center;
}

#post-content-container {
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-gap: 2rem;
}

#post-sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#author-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  border: 1.5px solid var(--maincolor);
  border-radius: 10px;
}

#author-box p {
  margin: 10px 0;
}

#author-box h4 {
  font-size: 1.5rem;
}
#author-box h5 {
  font-size: 1rem;
  margin: 0.3rem 0;
  color: var(--secondcolor);
}

#author-photo-container {
  background: url("../assets/author.jpg") center;
  background-size: cover;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 100%;
  margin: 15px 0;
}

#share-box {
  text-align: center;
  padding: 1rem 0;
  border: 1.5px solid var(--maincolor);
  border-radius: 10px;
}

#sharing-buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.8rem;
}

#sharing-buttons-container img {
  width: 30px;
}

#quote-box {
  margin: 1.5rem 0;
  padding: 1.5rem;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  text-align: center;
}

blockquote {
  font-size: 1.2rem;
  font-weight: 600;
}

figcaption {
  margin-top: 0.5rem;
  font-style: italic;
}

@media (max-width: 1200px) {
  .post-container {
    width: 95%;
    margin: 2rem 0;
  }
  #post-content-container {
    grid-template-columns: 100%;
  }

  .post-image-box {
    min-height: 35vh;
  }

  .post-container > header h1 {
    font-size: 2rem;
    text-align: center;
  }
  .post-container > header h3 {
    font-size: 1rem;
    text-align: center;
  }
}
